@mixin button-size(
  $btn-padding-x,
  $btn-padding-y,
  $btn-font-size,
  $btn-border-radius
) {
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  border-radius: $btn-border-radius;

  &.is-round {
    border-radius: $btn-padding-x;
  }

  &.is-circle {
    padding: $btn-padding-y;
    border-radius: 50%;
  }
}

@mixin button-style(
  $font-color,
  $border-color,
  $background-color,
  $font-color-hover,
  $border-color-hover,
  $background-color-hover
) {
  color: $font-color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover {
    color: $font-color-hover;
    background-color: $background-color-hover;
    border-color: $border-color-hover;
  }

  &:focus,
  &.focus {
    color: $font-color-hover;
    background-color: $background-color-hover;
    border-color: $border-color-hover;
  }

  &:disabled,
  &.is-disabled {
    color: $font-color;
    background-color: mix($background-color, $white);
    border-color: mix($border-color, $white);
    color: mix($font-color, $white, 40%);
    &:hover{
      cursor: not-allowed;
    }
  }
}

@mixin button-text($font-color, $font-color-hover) {
  border: none;
  padding: 0;
  color: $font-color;
  background-color: transparent;
  &:hover {
    color: $font-color-hover;
  }
  &:focus {
    color: $font-color-hover;
  }
}
