/** color  */
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #52c41a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

/** padding  */
$padding-base: 4px;
$padding-none: 0;
$padding-mini: 2px;
$padding-normal: $padding-base;
$padding-s: $padding-base * 2;
$padding-m: $padding-base * 3;
$padding-l: $padding-base * 4;
$padding-xl: $padding-base * 5;
$padding-xxl: $padding-base * 6;

/** font-size  */
$font-size-normal: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

/** margin  */
$margin-base: 4px;
$margin-none: 0;
$margin-mini: 2px;
$margin-normal: $margin-base;
$margin-s: $margin-base * 2;
$margin-m: $margin-base * 3;
$margin-l: $margin-base * 4;
$margin-xl: $margin-base * 5;
$margin-xxl: $margin-base * 6;

/** font-weight  */
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

/** line-height  */
$line-height-base: 1 !default;
$line-height-s: 1.25 !default;
$line-height-m: 1.5 !default;
$line-height-l: 1.75 !default;
$line-height-xl: 2 !default;

/** 标题大小 */
$h1-font-size: $font-size-normal * 2.5 !default;
$h2-font-size: $font-size-normal * 2 !default;
$h3-font-size: $font-size-normal * 1.75 !default;
$h4-font-size: $font-size-normal * 1.5 !default;
$h5-font-size: $font-size-normal * 1.25 !default;
$h6-font-size: $font-size-normal !default;

/** link */
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

/** border */
$border-color-default: $gray-400;

/** text-color */
$font-color-default: $gray-900;

// body
$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;

/** button */
$btn-font-weight: 500;
$btn-line-height: 1;
$btn-disabled-opacity: 0.65 !default;
$btn-border-width: 1px;
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075) !default;

/** button-size */
$btn-padding-x-default: 20px;
$btn-padding-y-default: 10px;
$btn-font-size-default: $font-size-l;
$btn-border-radius-default: 4px;

$btn-padding-x-large: 20px;
$btn-padding-y-large: 12px;
$btn-font-size-large: $font-size-l;
$btn-border-radius-large: 4px;

$btn-padding-x-medium: 15px;
$btn-padding-y-medium: 8px;
$btn-font-size-medium: $font-size-m;
$btn-border-radius-medium: 4px;

$btn-padding-x-small: 10px;
$btn-padding-y-small: 6px;
$btn-font-size-small: $font-size-s;
$btn-border-radius-small: 2px;

/** button-type */
$btn-background-default: $white;
$btn-background-hover-default: lighten($primary, 40%) !default;
$btn-border-color-default: $border-color-default;
$btn-border-color-hover-default: lighten($primary, 20%) !default;
$btn-font-color-default: $font-color-default;
$btn-font-color-hover-default: $primary;

$btn-background-plain-default: $white;
$btn-background-plain-hover-default: $white;
$btn-border-color-plain-default: $border-color-default;
$btn-border-color-plain-hover-default: lighten($primary, 10%) !default;
$btn-font-color-plain-default: $font-color-default;
$btn-font-color-plain-hover-default: $primary;

$btn-background-primary: $primary;
$btn-background-hover-primary: lighten($primary, 10%);
$btn-border-color-primary: $primary;
$btn-border-color-hover-primary: lighten($primary, 10%);
$btn-font-color-primary: $white;
$btn-font-color-hover-primary: $white;

$btn-background-danger: $danger;
$btn-background-hover-danger: lighten($danger, 10%);
$btn-border-color-danger: $danger;
$btn-border-color-hover-danger: lighten($danger, 10%);
$btn-font-color-danger: $white;
$btn-font-color-hover-danger: $white;

$btn-background-success: $success;
$btn-background-hover-success: lighten($success, 10%);
$btn-border-color-success: $success;
$btn-border-color-hover-success: lighten($success, 10%);
$btn-font-color-success: $white;
$btn-font-color-hover-success: $white;

$btn-background-warning: $warning;
$btn-background-hover-warning: lighten($warning, 10%);
$btn-border-color-warning: $warning;
$btn-border-color-hover-warning: lighten($warning, 10%);
$btn-font-color-warning: $white;
$btn-font-color-hover-warning: $white;

$btn-background-info: $info;
$btn-background-hover-info: lighten($info, 10%);
$btn-border-color-info: $info;
$btn-border-color-hover-info: lighten($info, 10%);
$btn-font-color-info: $white;
$btn-font-color-hover-info: $white;

$btn-background-link: '';
$btn-background-hover-link: '';
$btn-border-color-link: '';
$btn-border-color-hover-link: '';
$btn-font-color-link: '';
$btn-font-color-hover-link: '';
