$namespace: '#{$class-prefix}-icon';
// .#{$namespace}{
//   // color: $font-color;
// }

.#{$namespace}--primary{
  color: $color-primary;
}
.#{$namespace}--success{
  color: $color-success;
}
.#{$namespace}--warning{
  color: $color-warning;
}
.#{$namespace}--error{
  color: $color-error;
}
.#{$namespace}--info{
  color: $color-info;
}